<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>A Study in Happiness</title>
  </head>
  <body>
    <h1>A Study in Happiness</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="mt-8 col-md-12">
          <div id="heatmap">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 school-options-dropdown text-center">
          <div class="dropdown btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a View
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">GDP per Capita</a></li>
              <li><a href="#">Family</a></li>
              <li><a href="#">Life Expectancy</a></li>
              <li><a href="#">Freedom</a></li>
              <li><a href="#">Generosity</a></li>
              <li><a href="#">Trust (Government Corruptions)</a></li>
              <!--links need to be set to modify based on selection-->
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="scatter-view">
            <!--insert view via d3.select here-->
            
          </div>
        </div>
        <div class="col-md-4">
          <div id="scatter-text">
            <!-- insert appropriate text based on selection above up here -->
            
          </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script type="text/javascript" src="../static/js/config.js"></script>
<script type="text/javascript" src="../static/js/worldmap.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>

</body>
</html>