<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Happiness Report</title>

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- React JS -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>


    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <!-- Canvas -->
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </head>

  <body>
    
    <!-- Header Title -->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
          <div class="container">
            <h1 class="masthead-heading mb-0">A Study in Happiness</h1>
            <h2 class="masthead-subheading mb-0">Reviewing the 2017 World Happiness Report</h2>
            <!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
          </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    
    <!-- HeatMap -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <h2 class="display-4 ">Behold Happiness around the world</h2>
        </div>
        <div class="row">
          <div class="mt-8 col-md-8">
            <div id="heatmap">
            </div>
          </div>
          <!-- Instructions/Intro-->
          <div class="col-lg-4">
            <div class="p-5">
              <h2 class="display-4">What is the key to Happiness?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<hr>
    			</div>
    		</div>
    	</div>
    </section>

    <!-- Dropdown selector -->
    <section>
      <div class="container-fluid">
        <div class="row">
            <!-- Button -->
            <div class="col text-center">
              <!-- <div class="dropdown btn-group"> -->
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a View
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!-- TO DO: links need to be set to modify based on selection-->
                <li><a aref="#">GDP per Capita</a></li>
                <li><a aref="#">Family</a></li>
                <li><a aref="#">Life Expectancy</a></li>
                <li><a aref="#">Freedom</a></li>
                <li><a aref="#">Generosity</a></li>
                <li><a aref="#">Trust (Government Corruptions)</a></li>
              </ul>
            </div>
          </div>
        </div>  
      </div>
    </section>

    
      
      <section>
      	<div class="container-fluid">
      	<div class="row row-eq-height">
        <div class="col-md-8">
          <div id="scatter-view">
            <!--insert view via d3.select here-->
            
          </div>
        </div>
        <div class="col-md-4" style="height: 450px">
          <div id="scatter-text">
            <!-- insert appropriate text based on selection above up here -->
            
          </div>
        </div>
      </div>
  </div>
  </section>
  <section>
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-md-12">
  				<br>
  			</div>
  		</div>
  	</div>
  </section>
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/worldmap.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>
  <script type="text/javascript" src="../static/js/scatter.js"></script>
</body>
  <!-- Footer -->
  <footer class="pt-3 footer bg-black">
    <div class="container">
      <div class="footer-copyright text-center pt-3">          
        <a href="https://www.kaggle.com/unsdsn/world-happiness">Data sourced from Kaggle</a> <br>
          <a class = "text-white">J. Andrade, E. Jaye, D. Nelson <br> 2019</a> 

        </div>
    </div>
  </footer>

</html>